@{
    ViewBag.Title = "CreateBid";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("CreateBid", "Business", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>הגש הצעת מחיר</h4>
    <hr />
    
    <table>
        <tr>
            <td>הגבלת כמות יחידות</td>
            <td><input type="text" name="max_units" /> </td>
        </tr>
        <tr>
            <td>מחיר מקורי</td>
            <td><input type="text" name="original_price" /> </td>
        </tr>
        <tr>
            <td>מחיר מדרגה 1</td>
            <td><input type="text" name="price_step_1" /> </td> 
        </tr>
        <tr>
            <td>מחיר מדרגה 2</td>
            <td><input type="text" name="price_step_2" /> </td>
        </tr>
        <tr>
            <td>מחיר מדרגה 3</td>
            <td><input type="text" name="price_step_3" /> </td>
        </tr>
        <tr>
            <td>מחיר מדרגה 4</td>
            <td><input type="text" name="price_step_4" /> </td>
        </tr>
        <tr>
            <td>מחיר מדרגה 5</td>
            <td><input type="text" name="price_step_5" /> </td>
        </tr>
        <tr>
            <td>הערות</td>
            <td><input type="text" name="comments" /> </td>
        </tr>
        <tr>
            <td>אחריות</td>
            <td><input type="text" name="guarantee" /> </td>
        </tr>
        <tr>
            <td>משלוח</td>
            <td><input type="text" name="shipping" /> </td>
        </tr>

    </table>

    <input type="submit" value="שליחה" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
