@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>פאנל ניהול לבעלי עסקים</h1>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="@Url.Action("GroupsWitingForBid","Business")">קבוצות ממתינות להצעת מחיר</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a href="@Url.Action("MyActiveGroups","Business")">קבוצות פעילות שלי</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a href="@Url.Action("CreateBid","Business")">המוצרים שלי</a></h2>
    </div>
</div>