
@{
    ViewBag.Title = "MyActiveGroups";
    int i = 0;
    List<string> comments = ViewBag.comments;
    List<int> originalPrices = ViewBag.originalPrices;
    List<int> users = ViewBag.users;
}


<table class="table">
    <tr>
        <th>קבוצה</th>
        <th>מחיר</th>
        <th>הערות</th>


    </tr>

    @foreach (var group in ViewBag.groups)
            {
        <tr>
            <td>
                @group.ObjectId
            </td>

            <td>
                @originalPrices.ElementAt(i)
            </td>
            <td>
                @comments.ElementAt(i)
            </td>
            <td>
                @users.ElementAt(i)
            </td>
        </tr>
        i++;
    }

</table>

