@{
    ViewBag.Title = "Group";
}


<div style="direction:rtl;">

    <h2>דף הקבוצה</h2>

    <h4> פרטי המוצר</h4>


    <br /><br />


    <h4>רשימת חברים</h4>



    <br /><br />
    <h4>זמן נותר</h4>




</div>