@{
    ViewBag.Title = "GroupPage";

}

@if (!ViewBag.NewGroupCreatedRightNow)
{
    <h2>קבוצת רכישה כבר קיימת למוצר הזה... אתה מועבר לשם עכשיו</h2>
}
else if (ViewBag.NewGroupCreatedRightNow)
{
    <h2>קבוצת רכישה נפתחת ברגעים אלו ותיהיה זמינה עוד 12 שעות..</h2>
}












