@{
    ViewBag.Title = "Home Page";
    List<string> activeGroupsNames = ViewBag.allActiveGroupsNames;
    int productNameIndex = 0;
}

<div class="jumbotron" style="direction:rtl;">
    <h1>קבוצות פעילות</h1>
    @foreach (var group in ViewBag.allActiveGroups)
    {
        <p>קבוצה פעילה למוצר: @Html.ActionLink(activeGroupsNames[productNameIndex], "Group" , "Group", new { groupId = group.ObjectId }, null) </p>
        productNameIndex++;
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="@Url.Action("CreateGroup","Group")">פתיחת קבוצה חדשה</a></h2>
    </div>
</div>





